.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #F3F3F3;
  color: #77D0B0;
  overflow-y: auto;
}

.logo{
    width: max-content;
    height: max-content;
    margin: 30px 0 50px;
    font-size: 40px;
    padding-left: 40px;
}

.links{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  
}

.links a{
  color: #535252;
  text-decoration: none;
  flex-basis: 8%;
  width: 100%;
  padding: 20px 0 20px 40px;
}
.links a:hover {
  background-color: #77D0B0;
}
.product-service-event-links a {

  padding: 10px;
  margin-left: 60px;
  
}
.product-service-event-links {
  display: flex;
  flex-direction: column;
}